body {
	background-color: black
}
.btn-lg {
	width: 150px;
	height: 150px;
	margin-bottom: 4px;
}
.choice {
	margin-top: 45px;
}
* {
  border-radius: 0 !important;
}
/*#x {
	color: red;
}
#o {
	color: yellow;
}*/